shamefully-hoist=false
strict-peer-dependencies=false
confirm-module-purge=false

# Allow build scripts for these packages
approve-builds=true

# Ignore build scripts for these packages
ignored-built-dependencies[]=sharp
ignored-built-dependencies[]=unrs-resolver
